---
# yaml-language-server: $schema=https://kubernetesjsonschema.dev/v1.18.1-standalone-strict/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: bitwarden
  namespace: external-secrets
  labels:
    reconcile.external-secrets.io/managed: 'true'
stringData:
  # this can NOT end in a newline or it doesn't work
  access_token: "#{ bitwarden_machine_access_token }#"
  organization_id: "#{ bitwarden_organization_id }#"
  project_id: "#{ bitwarden_project_id }#"